 body{
    background: #eee;
}

input{
    width: 250px;
    font-size: 18px;
    margin: 10px;
    border: 2px solid blue;
    border-radius: 4px;
}

form{
    text-align: center;
}
.btn{
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #dd2615 100%);
	background-color:gray;
	border-radius:11px;
	border:2px solid #13bfea;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f45e0e;
}

.title{
    text-align: center;
    color: #0f4a6d;
}