html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

.lastResult {
    color: white;
    padding: 3px;
}

/* img{
    margin-top: -100px;
    margin-left: -400px;
} */

#ron {
<<<<<<< Updated upstream
    margin-top: -300px;
=======
    margin-top: -400px;
>>>>>>> Stashed changes
    margin-left: -290px;
    height: 400px;
    width: 340px;
}
